.card {
  background-color: white;
  height: 160px;
  width: 160px;
  border-radius: 15px;
}
.card:focus {
  box-shadow: 0 0 3pt 2pt grey;
  outline: none;
}
.card-image {
  height: 80%;
  width: 80%;
}
.no-background {
  background: none;
  border: none;
}

@media (max-width: 700px) {
  .card {
    height: 120px;
    width: 120px;
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .card {
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }
}