#header {
  color: white;
  height: 55px;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100vw;
  background: black;
  display: flex;
  align-items: center;
  gap: 12px;
}
#snapsoft-logo {
  margin-left: 10px;
  height: 50%;
}
#header-middle {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#start-game-button {
  color: white;
  height: 80%;
  width: 180px;
  margin-right: 10px;
  font-weight: bold;
  background-color: rgb(255, 51, 0);
  border: none;
  border-radius: 5px;
}
#size-form {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
#deck-size {
  font-size: 20px;
  height: 80%;
  padding: 0 20px 0 20px;
  border-radius: 5px;
}
#deck-size-label {
  color: grey;
  font-size: 12px;
}

@media (max-width: 610px) {
  #snapsoft-logo {
    display: none;
  }
  #game-title {
    margin-left: 5px;
  }
}

@media (max-width: 410px) {
  #game-title {
    display: none;
  }
  #header-middle {
    gap: 5px;
    margin-left: 5px;
  }
}
@media (max-width: 320px) {
  #game-title {
    display: none;
  }
  #header-middle {
    gap: 5px;
    margin-left: 5px;
  }
  #start-game-button {
    font-size: 5vw;
    width: 40vw;
  }
  #deck-size {
    padding: 0 5px 0 5px;
  }
}